Django
Celery
django-qstash
django-celery-results
django-celery-beat
jupyter
rav
python-dotenv
pre-commit
langchain
langchain-brightdata
langchain-community
langchain[openai]
langchain[google-genai]
langgraph