Django
Celery
django-qstash
django-celery-results
django-celery-beat
dj-database-url
django-redis
redis
jupyter
rav
python-dotenv
pre-commit
psycopg[binary]
langchain
langchain-brightdata
langchain-community
langchain[openai]
langchain[google-genai]
langgraph